footer {
  background-color: rgba(0, 0, 0, 0.678);
  cursor: auto;
  em {
    font-size: 1.7em;
    color: rgba(255, 255, 255, 0.808);
    transition: 0.4s all;
  }
  em:hover {
    font-size: 1.9em;
    color: #fff;
  }
}
