<div class="container">
  <div class="article">
    <h1>6 Concepts to Master to be an Angular Architect</h1>
    <p class="mt-4 mb-4">{{article.description}}<br>{{ article.date | date }}</p>
    <img class="mt-4" src="{{article.img}}" alt={{article.description}}>
    <div class="mt-5 content">
      <div [innerHTML]="article.content"></div>
    </div>
    <div class="mt-5">
      <disqus [identifier]="pageId"></disqus>
    </div>
  </div>
  <app-share-social-network></app-share-social-network>
</div>



<app-list-tuto nbrElement="3"></app-list-tuto>
