.article {
  @media (min-width: 768px) {
    margin: 0px 150px 0px 150px;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
  .content {
    ul {
      margin-left: 15px;
    }
    img {
      width: 90%;
      margin-left: 5%;
    }
  }
  .ql-syntax {
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(51, 51, 51);
    width: auto;
  }
}
