<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid font-weight-bold">
    <a class="navbar-brand" routerLink="/">&lt;/Abdoul Aziz Dione></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item mr-4">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
        </li>
        <li class="nav-item mr-4">
          <a routerLink="/tutos" class="nav-link" routerLinkActive="active">Tutoriels</a>
        </li>
        <li class="nav-item mr-4">
          <a routerLink="/subjects" class="nav-link" routerLinkActive="active">Travaux dirigés</a>
        </li>
        <li class="nav-item mr-4">
          <a href="/about" class="nav-link" routerLinkActive="active">A propos de moi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-header *ngIf="about"></app-header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
