/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgba(238, 238, 238, 0.397);
}

button {
  border: none;
  border-radius: 5px;
  background-color: #1565C0;
  color: #fff;
  width: 100px;
  height: 35px;
  transition: 0.4s all;
}

button:hover {
  background-color: #fff;
  color: #1565C0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.459);
}

ol {
  display: flex;
  justify-content: space-around;
}
